{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Page Title -->
	<title>zaldibazar</title>
<!-- /Page title -->

<!-- Seo Tags -->
	<meta name="description" content="Your page description here" />
	<meta name="keywords" content="Your meta keywords, here"/>
	<meta name="robots" content="index, follow"> 
<!-- /Seo Tags -->

<!-- Favicon and Touch Icons
========================================================= -->
	<link rel="shortcut icon" href = "{% static 'img/favicon2.ico" type="image/x-icon">
	<link rel="icon" href = "{% static 'img/favicon2.ico' %}" type="image/x-icon">
<!-- /Favicon
========================================================= -->

<!-- >> CSS
============================================================================== -->
	<!-- Bootstrap styles -->
	<link href = "{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- /Bootstrap Styles -->
	<!-- Google Web Fonts -->	
	<link href='https://fonts.googleapis.com/css?family=Hind:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- /google web fonts -->
	<!-- owl carousel -->
	<link href = "{% static 'vendor/owl.carousel/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<link href = "{% static 'vendor/owl.carousel/owl-carousel/owl.theme.css' %}" rel="stylesheet">
	<!-- /owl carousel -->
	<!-- fancybox.css -->
	<link href = "{% static 'vendor/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<!-- /fancybox.css -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href = "{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
	<!-- /Font Awesome -->
	<!-- Main Styles -->
	<link href = "{% static 'css/styles.css' %}" rel="stylesheet">
	<!-- /Main Styles -->
<!-- >> /CSS
============================================================================== -->
</head>

<body>



<!-- Header
================================================== -->
<header id="header" class="">
	<div class="container">
		<!-- logo -->
		<!-- <div class="header-logo" id="header-logo">
			<img src = "{% static 'img/logo.png' %}" alt=""/>
		</div> -->
		<!-- /logo -->
		<!-- MAIN MENU -->
	   <!--  <nav class="">
	      <ul class="hd-list-menu">
	        <li class="active"><a href="index.html#main-carousel">Intro</a></li>
	        <li><a href="index.html#section-event-infos">About </a></li>
	        <li><a href="index.html#section-schedule">Schedule</a></li>
	        <li><a href="index.html#section-speakers">Speakers</a></li>	                
	        <li><a href="index.html#section-testimonials">Testimonials</a></li>
	        <li><a href="index.html#section-sponsors">Sponsors</a></li>	
	        <li><a href="index.html#section-blog">Blog</a></li>
	        <li><a href="index.html#section-faq">FAQ</a></li>
	        <li><a href="index.html#section-prices">Prices</a></li>
	        <li><a href="index.html#section-register">Register</a></li>
	      </ul> 
	    </nav> -->
	    <!-- /MAIN MENU -->
	</div>	
</header>
<!-- /Header
================================================== -->


<div class="page-wrapper">
	
	<div id="body-content">

		<!-- SECTION: Intro
		================================================== -->
		<div class=" " id="">

			<!-- slide -->
			<div class="main-intro" style="background-image: url('img/bg7.jpg');">

				<div class="container">	
					<div class="intro-content-wrapper viewport">
						<!-- INTRO CONTENT -->
						<!-- Adjust the margin-top in style atribute according to content to keep always centered vertically-->
						<div class="intro-content intro-content-slide1">
							<!-- row -->
							<div class="row">
								<!-- col -->
								<div class="col-sm-12">
									<!-- event logo -->
									<div class="ic-logo">
										<img src = "{% static 'img/zaldi.png' %}" alt="">
									</div>	
									<!-- /event logo -->
									<!-- Event Infos -->
									<div class="ic-infos">
										<p>coming soon @ Visakhapatnam</p>
									</div>						
								</div>
								<!-- /col -->
							</div>
							<!-- /row -->	

							<div class="row">
								<!-- col -->
								<div class="col-md-10 col-md-offset-1">
									<img src="img/globe.png" alt="">
									<h1 class="intro-title1">The largest online grocery store<br/> </h1>
									<p>Online Grocery just a click away!  - the best online groceries and online food store delivers all your household needs at your doorstep with lots of discount. Save time and money by shopping at our online supermarket - zaldibazar.</p>
									
									
								</div>
								<!-- /col -->
							</div>	
							<!-- Adjust the margin-top in css according to content to keep always centered vertically-->
								
															
						</div>	
						<!-- /INTRO CONTENT -->					
					</div>							
				</div>
			</div>
			<!-- /slide -->

			<!-- slide -->
			<div class="main-intro" style="background-image: url('img/bg4.jpg');">
				<div class="container">						
					<div class="intro-content-wrapper viewport">
						<!-- Main Title -->
						<!-- Adjust the margin-top in css according to content to keep always centered vertically-->
						<div class="intro-content countdown-wrapper intro-content-slide2">
							<p class="countdown-title">Remaining time for the launch</p>
							<!-- countDown -->
							<div id="countdown" class="row"></div>
							<!-- /countDown -->			
							
						</div>
						<!-- /Main Title -->
					</div>			
				</div>
			</div>
			<!-- /slide -->

			
		</div>		
	</div>
</div>


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68836633-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- / Google Analytics -->

<!-- Footer
================================================== -->

<!-- /Footer
================================================== -->

<!-- >> JS
============================================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src = "{% static 'vendor/jquery-1.11.3.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src = "{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Crossbrowser-->
<script src = "{% static 'vendor/cross-browser.js' %}"></script>
<!-- /Crossbrowser-->
<!-- CountDown -->
<script src = "{% static 'vendor/jquery.countdown.min.js' %}"></script>
<!-- /CountDown -->
<!-- Waypoints-->
<script src = "{% static 'vendor/waypoints.min.js' %}"></script>
<!-- /Waypoints-->
<!-- Validate -->
<script src = "{% static 'vendor/validate.js' %}"></script>
<!-- / Validate -->
<!-- Fancybox -->
<script src = "{% static 'vendor/fancybox/jquery.fancybox.js' %}"></script>
<!-- /fancybox -->
<!-- Owl Caroulsel -->
<script src = "{% static 'vendor/owl.carousel/owl-carousel/owl.carousel.js' %}"></script>
<!-- /Owl Caroulsel -->
<!-- Main JS -->
<script src = "{% static 'js/main.js' %}"></script>
<!-- /Main JS -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- >> /JS
============================================================================= -->
</body>
</html>